@use "variables" as *;

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $goepik-bg-color;
}

.auth-card {
  width: 400px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background: #fff;
  text-align: center;
  position: relative;

  .theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.auth-title {
  margin-bottom: 10px;
}

.auth-tabs {
  margin-top: 20px;
  .ant-tabs-tab {
    font-weight: bold;
  }
}

.auth-form {
  margin-top: 10px;
}

.auth-form .ant-input-prefix {
  margin-right: 5px;
}

.auth-form .ant-btn {
  margin-top: 10px;
}

body.dark {
  .auth-container {
    background: var(--background-color);
    color: var(--text-color);
  }

  .auth-card {
    background: var(--card-bg);
    color: var(--text-color);
    box-shadow: none;
    border: 1px solid var(--border-color);
    .theme-toggle {
      color: var(--text-color);
    }
  }

  .ant-tabs-tab,
  .ant-input,
  .ant-input-password,
  .ant-input-password input {
    background-color: #2a2a2a;
    color: var(--text-color);
    border-color: var(--border-color);
  }

  .ant-input::placeholder {
    color: #aaa;
  }

  .ant-tabs-tab-btn {
    color: var(--text-color);
  }
}
