@use "variables" as *;

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $goepik-bg-color;
}

.auth-card {
  width: 400px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background: #fff;
  text-align: center;
}

.auth-title {
  margin-bottom: 10px;
}

.auth-tabs {
  margin-top: 20px;
  .ant-tabs-tab {
    font-weight: bold;
  }
}

.auth-form {
  margin-top: 10px;
}

.auth-form .ant-input-prefix {
  margin-right: 5px;
}

.auth-form .ant-btn {
  margin-top: 10px;
}
