@use "variables" as *;

.manage-users-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $goepik-bg-color;
  padding: 20px;

  @media (max-width: 576px) {
    align-items: flex-start;
    height: auto;
    padding: 10px;
  }
}

.manage-users-card {
  width: 1500px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background: #fff;
  text-align: center;

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 576px) {
    padding: 15px;
    border-radius: 10px;
    box-shadow: none;
  }
}

.back-button {
  position: absolute;
  left: 15px;
  top: 15px;
  color: $goepik-primary;
  font-weight: bold;

  @media (max-width: 576px) {
    font-size: 14px;
    top: 10px;
    left: 10px;
  }
}

.manage-users-title {
  margin-bottom: 20px;

  @media (max-width: 576px) {
    font-size: 18px;
  }
}

.manage-users-table {
  margin-top: 15px;
  overflow-x: auto;

  @media (max-width: 576px) {
    margin-top: 10px;
  }
}
