@use "variables" as *;

.manage-users-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $goepik-bg-color;
}

.manage-users-card {
  width: 1500px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background: #fff;
  text-align: center;
}

.back-button {
  position: absolute;
  left: 15px;
  top: 15px;
  color: $goepik-primary;
  font-weight: bold;
}

.manage-users-title {
  margin-bottom: 20px;
}

.manage-users-table {
  margin-top: 15px;
}
