@use "variables" as *;

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 8px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
  }
}

.user-greeting {
  font-size: 17px;
  color: $goepik-dark;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.user-avatar {
  background-color: #d9d9d9;
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  font-size: 20px;
}