@use "variables" as *;

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 8px;
}

.user-greeting {
  font-size: 17px;
  color: $goepik-dark;
  font-weight: 500;
}

.user-avatar {
  background-color: #d9d9d9;
  border: 2px solid #fff;
  width: 40px;  // Aumenta o tamanho do avatar
  height: 40px;
  font-size: 20px; // Aumenta o ícone dentro do avatar
}
