.protected-layout {
  display: flex;

  .content-container {
    flex: 1;
    position: relative;
    padding: 20px;
    // margin-left: 250px;
    padding: 80px 24px 24px;
  }

  .user-profile-container {
    position: absolute;
    right: 20px;
    top: 10px;
  }
}
